@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*
font-family: 'Poppins', sans-serif;
*/

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

.header-,
.services-,
.portfolio-,
.contacts- {
  display: none;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
}

.title-1 {
  font-weight: 600;
  font-size: 34px;
}

.header {
  padding-top: 46px;
  background-color: #f1f1f1;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* padding: 46px 0; */
}

.logo {
  position: relative;
  padding: 0 12px 3px 0;

  color: #000;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 1; /* 32px */
}

.logo::after {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  right: 0px;
  bottom: 0px;

  background-color: #fda300;
  border-radius: 50%;
  border: 1px solid #000;
}

.nav {
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 50px;
}

.nav-item {
  font-size: 14px;
  font-weight: 500;
}

.nav-link {
  color: #000;
}

.nav-link.active {
  color: #606060;
}

.nav-button {
  display: none;
}

.header-row {
  padding-top: 76px;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
}

.header-content {
  margin-top: 124px;
  max-width: 500px;
  text-align-last: left;
}

.header-title {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}

.header-content p {
  text-align: left;
  font-size: 14px;
  line-height: 2;
}

.header-content p + p {
  margin-top: 1em;
}

.header-img {
}

.services {
}

.services-row {
  padding: 90px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 60px;
}

.service-card {
  /* min-width: 315px; */
  /* flex: 1 1 0; */
  width: 370px;
  /* height: 228px; */
  text-align: left;
}

.service-card-img {
  width: 68px;
  height: 68px;
  margin-bottom: 30px;
}

.service-card-title {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service-card-card p {
  max-width: 370px;
  font-size: 14px;
  line-height: 2;
}

.portfolio {
  padding: 90px 0;
  background-color: #f1f1f1;
}

.portfolio-title {
  margin-bottom: 70px;
}

.project {
  text-align: center;
}

.project + .project {
  margin-top: 90px;
}

.project img {
  flex-shrink: 0;
  margin-bottom: 40px;
}

.project-link {
  font-size: 18px;
}

.project-link a {
  color: var(--Black, #070707);
  text-decoration: underline;
}

.contacts {
  padding: 90px 0;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-content {
  max-width: 296px;
  font-size: 18px;
  margin: 0 auto 40px;
}

.contacts-content p + p {
  margin-top: 1em;
}

.contacts-button {
  margin-bottom: 80px;
}

.btn {
  display: inline-block;
  padding: 7px 22px;
  background-color: var(--Black, #070707);
  border-radius: 23px;

  font-size: 18px;
  color: #fff;
  transition: background-color 0.15s ease-in, top 0.15s ease-in;
}

.btn:hover,
.btn:focus {
  background-color: #272727;
}

.btn:active {
  position: relative;
  top: 1px;
  background-color: #000;
}

.contacts-social {
  min-width: 342px;
  display: flex;
  column-gap: 60px;
  justify-content: center;
  justify-content: center;
  margin-bottom: 40px;
}

.contacts-social img {
  width: 39.108px;
  height: 39.998px;
}

.contacts-footer {
  color: #828282;
  text-align: center;
  font-size: 14px;
}
